* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 90%;
  margin: 0 auto; /** center **/
}

h1 {
  font-size: 2rem;
}

.name {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  font-size: 1rem;
  font-style: italic;
}

.instruments-list {
  margin-top: 1rem;
  font-weight: bold;
}

.instruments-list li {
  margin-left: 2rem;
  font-weight: normal;
}
